USE [PracticeDB]
GO
/****** Object:  Table [dbo].[Community]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Community](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Contents] [nvarchar](2000) NOT NULL,
	[Author] [char](16) NOT NULL,
	[UploadTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
	[Hits] [int] NOT NULL,
	[LikeCount] [int] NOT NULL,
	[CommentCount] [int] NOT NULL,
	[Category] [nvarchar](30) NULL,
	[IsDeleted] [bit] NOT NULL,
	[ImagePath] [nvarchar](255) NULL,
 CONSTRAINT [PK_Community] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommunityComments]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommunityComments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[PostID] [int] NOT NULL,
	[Author] [char](16) NOT NULL,
	[Contents] [nvarchar](1000) NOT NULL,
	[UploadTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
	[ParentCommentID] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_CommunityComments] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommunityLikes]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommunityLikes](
	[PostID] [int] NOT NULL,
	[UserID] [char](16) NOT NULL,
	[LikedTime] [datetime] NOT NULL,
 CONSTRAINT [PK_CommunityLikes] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[GameID] [int] NOT NULL,
	[GameName] [nvarchar](100) NOT NULL,
	[GameTypeID] [int] NOT NULL,
	[GameDescription] [nvarchar](255) NULL,
	[ReleaseDate] [datetime] NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameScores]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameScores](
	[UserID] [char](16) NOT NULL,
	[GameID] [int] NOT NULL,
	[MaxScore] [int] NOT NULL,
	[RecordTime] [datetime] NULL,
 CONSTRAINT [PK_GameScores] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameTypes]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameTypes](
	[GameTypeID] [int] NOT NULL,
	[GameTypeName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_GameTypes] PRIMARY KEY CLUSTERED 
(
	[GameTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[GameID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[ItemName] [nvarchar](50) NOT NULL,
	[ItemDescription] [nvarchar](255) NULL,
	[ItemTypeID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[UploadTime] [datetime] NULL,
	[ImagePath] [nvarchar](255) NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[GameID] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemTypes]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTypes](
	[ItemTypeID] [int] NOT NULL,
	[ItemTypeName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ItemTypes] PRIMARY KEY CLUSTERED 
(
	[ItemTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[UserID] [char](16) NOT NULL,
	[PassWd] [char](32) NOT NULL,
	[NickName] [nchar](20) NOT NULL,
	[UGrade] [int] NOT NULL,
	[Coin] [int] NOT NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notice]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notice](
	[No] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Contents] [nvarchar](500) NOT NULL,
	[Author] [char](16) NOT NULL,
	[UploadTime] [datetime] NOT NULL,
	[Hits] [int] NOT NULL,
 CONSTRAINT [PK_Notice] PRIMARY KEY CLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGrade]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGrade](
	[UGrade] [int] NOT NULL,
	[GradeName] [nchar](4) NOT NULL,
 CONSTRAINT [PK_UserGrade] PRIMARY KEY CLUSTERED 
(
	[UGrade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserItems]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserItems](
	[UserID] [char](16) NOT NULL,
	[GameID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[ItemTypeID] [int] NOT NULL,
	[PurchaseDate] [date] NOT NULL,
	[IsEquipped] [bit] NOT NULL,
 CONSTRAINT [PK_UserItems] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[GameID] ASC,
	[ItemID] ASC,
	[ItemTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Community_Author]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
CREATE NONCLUSTERED INDEX [IX_Community_Author] ON [dbo].[Community]
(
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Community_Category_IsDeleted]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
CREATE NONCLUSTERED INDEX [IX_Community_Category_IsDeleted] ON [dbo].[Community]
(
	[Category] ASC,
	[IsDeleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Community_UploadTime]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
CREATE NONCLUSTERED INDEX [IX_Community_UploadTime] ON [dbo].[Community]
(
	[UploadTime] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CommunityComments_Author]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
CREATE NONCLUSTERED INDEX [IX_CommunityComments_Author] ON [dbo].[CommunityComments]
(
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommunityComments_Post_UploadTime]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
CREATE NONCLUSTERED INDEX [IX_CommunityComments_Post_UploadTime] ON [dbo].[CommunityComments]
(
	[PostID] ASC,
	[UploadTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_UserItems_Equipped_Type]    Script Date: 2025-12-09 (화) 오후 10:13:19 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_UserItems_Equipped_Type] ON [dbo].[UserItems]
(
	[UserID] ASC,
	[GameID] ASC,
	[ItemTypeID] ASC
)
WHERE ([IsEquipped]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Community] ADD  CONSTRAINT [DF_Community_UploadTime]  DEFAULT (getdate()) FOR [UploadTime]
GO
ALTER TABLE [dbo].[Community] ADD  CONSTRAINT [DF_Community_Hits]  DEFAULT ((0)) FOR [Hits]
GO
ALTER TABLE [dbo].[Community] ADD  CONSTRAINT [DF_Community_LikeCount]  DEFAULT ((0)) FOR [LikeCount]
GO
ALTER TABLE [dbo].[Community] ADD  CONSTRAINT [DF_Community_CommentCount]  DEFAULT ((0)) FOR [CommentCount]
GO
ALTER TABLE [dbo].[Community] ADD  CONSTRAINT [DF_Community_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CommunityComments] ADD  CONSTRAINT [DF_CommunityComments_UploadTime]  DEFAULT (getdate()) FOR [UploadTime]
GO
ALTER TABLE [dbo].[CommunityComments] ADD  CONSTRAINT [DF_CommunityComments_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CommunityLikes] ADD  CONSTRAINT [DF_CommunityLikes_LikedTime]  DEFAULT (getdate()) FOR [LikedTime]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_Coin]  DEFAULT ((0)) FOR [Coin]
GO
ALTER TABLE [dbo].[UserItems] ADD  CONSTRAINT [DF_UserItems_IsEquipped]  DEFAULT ((0)) FOR [IsEquipped]
GO
ALTER TABLE [dbo].[Community]  WITH CHECK ADD  CONSTRAINT [FK_Community_Members_Author] FOREIGN KEY([Author])
REFERENCES [dbo].[Members] ([UserID])
GO
ALTER TABLE [dbo].[Community] CHECK CONSTRAINT [FK_Community_Members_Author]
GO
ALTER TABLE [dbo].[CommunityComments]  WITH CHECK ADD  CONSTRAINT [FK_CommunityComments_Community_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Community] ([PostID])
GO
ALTER TABLE [dbo].[CommunityComments] CHECK CONSTRAINT [FK_CommunityComments_Community_Post]
GO
ALTER TABLE [dbo].[CommunityComments]  WITH CHECK ADD  CONSTRAINT [FK_CommunityComments_Members_Author] FOREIGN KEY([Author])
REFERENCES [dbo].[Members] ([UserID])
GO
ALTER TABLE [dbo].[CommunityComments] CHECK CONSTRAINT [FK_CommunityComments_Members_Author]
GO
ALTER TABLE [dbo].[CommunityComments]  WITH CHECK ADD  CONSTRAINT [FK_CommunityComments_Self_Parent] FOREIGN KEY([ParentCommentID])
REFERENCES [dbo].[CommunityComments] ([CommentID])
GO
ALTER TABLE [dbo].[CommunityComments] CHECK CONSTRAINT [FK_CommunityComments_Self_Parent]
GO
ALTER TABLE [dbo].[CommunityLikes]  WITH CHECK ADD  CONSTRAINT [FK_CommunityLikes_Community_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Community] ([PostID])
GO
ALTER TABLE [dbo].[CommunityLikes] CHECK CONSTRAINT [FK_CommunityLikes_Community_Post]
GO
ALTER TABLE [dbo].[CommunityLikes]  WITH CHECK ADD  CONSTRAINT [FK_CommunityLikes_Members_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Members] ([UserID])
GO
ALTER TABLE [dbo].[CommunityLikes] CHECK CONSTRAINT [FK_CommunityLikes_Members_User]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_GameTypes] FOREIGN KEY([GameTypeID])
REFERENCES [dbo].[GameTypes] ([GameTypeID])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_GameTypes]
GO
ALTER TABLE [dbo].[GameScores]  WITH CHECK ADD  CONSTRAINT [FK_GameScores_Games] FOREIGN KEY([GameID])
REFERENCES [dbo].[Games] ([GameID])
GO
ALTER TABLE [dbo].[GameScores] CHECK CONSTRAINT [FK_GameScores_Games]
GO
ALTER TABLE [dbo].[GameScores]  WITH CHECK ADD  CONSTRAINT [FK_GameScores_Members] FOREIGN KEY([UserID])
REFERENCES [dbo].[Members] ([UserID])
GO
ALTER TABLE [dbo].[GameScores] CHECK CONSTRAINT [FK_GameScores_Members]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Games] FOREIGN KEY([GameID])
REFERENCES [dbo].[Games] ([GameID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Games]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_ItemTypes] FOREIGN KEY([ItemTypeID])
REFERENCES [dbo].[ItemTypes] ([ItemTypeID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_ItemTypes]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_UserGrade] FOREIGN KEY([UGrade])
REFERENCES [dbo].[UserGrade] ([UGrade])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_UserGrade]
GO
ALTER TABLE [dbo].[Notice]  WITH CHECK ADD  CONSTRAINT [FK_Notice_Members] FOREIGN KEY([Author])
REFERENCES [dbo].[Members] ([UserID])
GO
ALTER TABLE [dbo].[Notice] CHECK CONSTRAINT [FK_Notice_Members]
GO
ALTER TABLE [dbo].[UserItems]  WITH CHECK ADD  CONSTRAINT [FK_UserItems_Games] FOREIGN KEY([GameID])
REFERENCES [dbo].[Games] ([GameID])
GO
ALTER TABLE [dbo].[UserItems] CHECK CONSTRAINT [FK_UserItems_Games]
GO
ALTER TABLE [dbo].[UserItems]  WITH CHECK ADD  CONSTRAINT [FK_UserItems_Items] FOREIGN KEY([GameID], [ItemID])
REFERENCES [dbo].[Items] ([GameID], [ItemID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserItems] CHECK CONSTRAINT [FK_UserItems_Items]
GO
ALTER TABLE [dbo].[UserItems]  WITH CHECK ADD  CONSTRAINT [FK_UserItems_ItemTypes] FOREIGN KEY([ItemTypeID])
REFERENCES [dbo].[ItemTypes] ([ItemTypeID])
GO
ALTER TABLE [dbo].[UserItems] CHECK CONSTRAINT [FK_UserItems_ItemTypes]
GO
ALTER TABLE [dbo].[UserItems]  WITH CHECK ADD  CONSTRAINT [FK_UserItems_Members] FOREIGN KEY([UserID])
REFERENCES [dbo].[Members] ([UserID])
GO
ALTER TABLE [dbo].[UserItems] CHECK CONSTRAINT [FK_UserItems_Members]
GO
ALTER TABLE [dbo].[Community]  WITH CHECK ADD  CONSTRAINT [CK_Community_Counts_NonNegative] CHECK  (([LikeCount]>=(0) AND [CommentCount]>=(0) AND [Hits]>=(0)))
GO
ALTER TABLE [dbo].[Community] CHECK CONSTRAINT [CK_Community_Counts_NonNegative]
GO
